@charset "ISO-8859-1";


 table {
  border-collapse: collapse;
  width: 100%;
  background-color:#93ffff;
  border:solid black;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
   border:solid black;
}

tr:hover {
	background-color: #ffffff;
	}